@import url(https://fonts.googleapis.com/css?family=PT+Sans);
html {
width:100%;
height:100%;
}
header h1 {
    text-align: center;
    font: 2em black sans-serif;
    font-weight: bolder;
}
h2 {
    text-align: center;
    font-family: sans-serif, serif;
}
form {
    margin: 0 auto;
    width: 45%;
    background-color: rgba(0,0,0,0.08);
    box-shadow: 0 0 1em black;
    padding: 0.5em;
    font-family: 'PT Sans', sans-serif;
}
fieldset {
    background-color: azure;
    box-shadow: 0 0 0.1em rgba(0,200,255,0.5);
}
legend {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 0.5em;
    border-bottom: 0em;
}
#formcontrol label {
    padding: 0.2em;
    margin-left: 1em;
}
input[type=submit] {
    cursor: pointer;
    position: relative;
    top: 0.5em;
    left: 0.5em;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
    background-color: deepskyblue;
    text-shadow: 0 0 0.08em black;
    color: white;
    box-shadow: 0 0 0.08em black;
}
input[type=submit]:hover {
    background-color: greenyellow;
}
input[type=button] {
    top: 0.1em;
}
::-webkit-input-placeholder, select, datalist {
    font-family: 'PT Sans', sans-serif;
}
*:focus {
    font-weight: bolder;
    outline-color: rgba(0,200,255,0.5);
    transition: 0.2s ease;
}
#formcontrol textarea:focus {
    font-size: 1.1em;
}
#formcontrol textarea {
    margin-left: 0.5em;
}
#formcontrol input[type=text]:focus:required:invalid, #formcontrol input[type=email]:focus:invalid, #formcontrol input[type=tel]:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}
#formcontrol input[type=text]:valid, #formcontrol input[type=tel]:valid, #formcontrol input[type=email]:valid {
    box-shadow: 0 0 5px #d45252;
    border-color: springgreen;
}
#formcontrol input {
    width: 63%;
    height: 2.5em;
}
#formcontrol input[type=tel] {
    width: 45%;
}
#formcontrol input[type=number] {
    width: 50%;
}
#formcontrol input#myHair {
    width: 15%;
}
#resetButton {
    position: relative;
    left: 0.7em;
    box-shadow: 0 0 0.1em black;
}
#formcontrol input#resetButton, #formcontrol input#submitButton {
    width: 25%;
}
@media screen and (max-width: 800px) {
    #formcontrol input#resetButton, #formcontrol input#submitButton {
        width: 60%;
    }
    #formcontrol textarea {
        width: 95%;
    }
}
@media screen and (max-width:780px) and (min-width: 700px) {
    form {
        width: 70%;
    }
    #formcontrol input#resetButton, #formcontrol input#submitButton {
        width: 40%;
    }
}
@media screen and (max-width: 500px) {
    form {
        width: 90%;
    }
    #formcontrol input#resetButton, #formcontrol input#submitButton {
        width: 40%;
    }
}
@media screen and (max-width: 350px) {
    #formcontrol input#resetButton, #formcontrol input#submitButton {
        width: 50%;
    }
    #formcontrol textarea {
        width: 95%;
    }
}
